openapi: 3.1.0
info:
  title: SkyTools API
  description: Real-time and historical Hypixel SkyBlock data API
  version: "1.0"
  contact:
    name: SkyTools
    url: https://skytools.app
servers:
  - url: https://api.skytools.app/v1
    description: Production
security:
  - apiKey: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key starting with `sk_`. Get one at https://developer.skytools.app/keys
  schemas:
    Meta:
      type: object
      properties:
        cached:
          type: boolean
          description: Whether the response was served from cache
        api_version:
          type: string
          example: v1
        stale:
          type: boolean
          description: Whether the cached data is stale (only present when true)
        age_seconds:
          type: integer
          description: Age of stale cache in seconds (only present when stale)
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: UNAUTHORIZED
            message:
              type: string
              example: API key is required.
    BazaarQuickStatus:
      type: object
      properties:
        sellPrice:
          type: number
          example: 7.5
        buyPrice:
          type: number
          example: 8.1
        sellVolume:
          type: integer
          example: 1234567
        buyVolume:
          type: integer
          example: 987654
        sellMovingWeek:
          type: integer
          example: 50000000
        buyMovingWeek:
          type: integer
          example: 45000000
        sellOrders:
          type: integer
          example: 150
        buyOrders:
          type: integer
          example: 200
    BazaarItem:
      type: object
      properties:
        id:
          type: string
          example: DIAMOND
        sellPrice:
          type: number
          example: 7.5
        buyPrice:
          type: number
          example: 8.1
        sellVolume:
          type: integer
          example: 1234567
        buyVolume:
          type: integer
          example: 987654
        spread:
          type: number
          example: 0.6
        spreadPercent:
          type: number
          example: 8.0
        sellMovingWeek:
          type: integer
          example: 50000000
        buyMovingWeek:
          type: integer
          example: 45000000
    HistoryPoint:
      type: object
      properties:
        sell_price:
          type: number
          example: 7.5
        buy_price:
          type: number
          example: 8.1
        sell_volume:
          type: integer
          example: 1234567
        buy_volume:
          type: integer
          example: 987654
        spread:
          type: number
          example: 0.6
        spread_percent:
          type: number
          example: 8.0
        recorded_at:
          type: string
          format: date-time
          example: "2026-03-05T12:00:00Z"
    Auction:
      type: object
      properties:
        uuid:
          type: string
          example: abc123def456
        auctioneer:
          type: string
          example: b876ec32e396476ba1158438d83c67d4
        item_name:
          type: string
          example: Hyperion
        item_lore:
          type: string
        starting_bid:
          type: integer
          example: 900000000
        highest_bid_amount:
          type: integer
          example: 950000000
        bin:
          type: boolean
          example: false
        start:
          type: integer
          description: Unix timestamp (ms)
        end:
          type: integer
          description: Unix timestamp (ms)
    Profile:
      type: object
      properties:
        profile_id:
          type: string
          example: a1b2c3d4e5f6
        cute_name:
          type: string
          example: Strawberry
        selected:
          type: boolean
        skyblockLevel:
          type: integer
          description: SkyBlock level for this profile (leveling experience / 100)
          example: 312
        members:
          type: object
    Item:
      type: object
      properties:
        id:
          type: string
          example: HYPERION
        name:
          type: string
          example: Hyperion
        material:
          type: string
          example: IRON_SWORD
        tier:
          type: string
          enum: [COMMON, UNCOMMON, RARE, EPIC, LEGENDARY, MYTHIC, DIVINE, SPECIAL, VERY_SPECIAL]
          example: LEGENDARY
    MayorPerk:
      type: object
      properties:
        name:
          type: string
          example: "Lucky!"
        description:
          type: string
          example: "Gain +25 Pet Luck"
    FireSale:
      type: object
      properties:
        item_id:
          type: string
          example: PET_SKIN_DRAGON_NEON_BLUE
        start:
          type: integer
          description: Unix timestamp (ms)
        end:
          type: integer
          description: Unix timestamp (ms)
        amount:
          type: integer
          example: 200
        price:
          type: integer
          example: 800
    PlayerGeneralStats:
      type: object
      properties:
        uuid:
          type: string
          example: b876ec32e396476ba1158438d83c67d4
        username:
          type: string
          example: Technoblade
        rank:
          type: string
          example: MVP_PLUS
          description: Resolved rank code
        rankFormatted:
          type: string
          example: MVP+
          description: Human-readable rank name
        level:
          type: number
          example: 256.72
          description: Precise network level (computed from XP)
        karma:
          type: integer
          example: 12500000
        achievementPoints:
          type: integer
          example: 8450
        questsCompleted:
          type: integer
          description: Total quests completed (computed from achievements)
        challengesCompleted:
          type: integer
          description: Total challenges completed (computed from achievements)
        giftsGiven:
          type: integer
          example: 15
        ranksGiven:
          type: integer
          example: 3
        firstLogin:
          type: integer
          description: Unix timestamp (ms)
        lastLogin:
          type: integer
          description: Unix timestamp (ms)
        lastLogout:
          type: integer
          description: Unix timestamp (ms)
        online:
          type: boolean
          description: Whether player is online (computed from lastLogin > lastLogout)
        totalExp:
          type: integer
          description: Raw network experience points
    BedWarsModeStats:
      type: object
      properties:
        wins:
          type: integer
        losses:
          type: integer
        winRate:
          type: number
          nullable: true
          description: Win percentage (computed)
        wlr:
          type: number
          nullable: true
          description: Win/Loss ratio (computed)
        kills:
          type: integer
        deaths:
          type: integer
        kdr:
          type: number
          nullable: true
          description: Kill/Death ratio (computed)
        finalKills:
          type: integer
        finalDeaths:
          type: integer
        fkdr:
          type: number
          nullable: true
          description: Final Kill/Death ratio (computed)
        bedsBroken:
          type: integer
        bedsLost:
          type: integer
        bblr:
          type: number
          nullable: true
          description: Beds Broken/Lost ratio (computed)
        winstreak:
          type: integer
        gamesPlayed:
          type: integer
          description: Total games played (computed)
    SkyWarsModeStats:
      type: object
      properties:
        wins:
          type: integer
        losses:
          type: integer
        winRate:
          type: number
          nullable: true
          description: Win percentage (computed)
        wlr:
          type: number
          nullable: true
          description: Win/Loss ratio (computed)
        kills:
          type: integer
        deaths:
          type: integer
        kdr:
          type: number
          nullable: true
          description: Kill/Death ratio (computed)
        gamesPlayed:
          type: integer
          description: Total games played (computed)
    GuildMember:
      type: object
      properties:
        uuid:
          type: string
          example: b876ec32e396476ba1158438d83c67d4
        rank:
          type: string
          example: Guild Master
        joined:
          type: integer
          description: Unix timestamp (ms)
  responses:
    Unauthorized:
      description: Missing, invalid, or revoked API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    PlayerNotFound:
      description: "Player not found — `PLAYER_NOT_FOUND` (username doesn't exist), `NO_SKYBLOCK_DATA` (no SkyBlock profiles), or `API_SETTINGS_DISABLED` (player has API off)"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    GuildNotFound:
      description: "Guild not found — `GUILD_NOT_FOUND` (no guild matches query) or `PLAYER_NOT_FOUND` (player lookup failed)"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    UpstreamError:
      description: "Upstream error — `UPSTREAM_ERROR`, `UPSTREAM_AUTH_ERROR`, `UPSTREAM_RATE_LIMITED`, or `MOJANG_UNAVAILABLE`"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Timeout:
      description: "Upstream timeout — `TIMEOUT`. May return stale cached data instead (check `meta.stale`)"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
paths:
  /bazaar:
    get:
      operationId: getBazaar
      summary: Get bazaar data
      description: Returns bazaar product data. Use the `mode` parameter to control response format.
      tags: [Bazaar]
      parameters:
        - name: mode
          in: query
          schema:
            type: string
            enum: [full, list, item, flips]
            default: full
          description: "Response mode: `full` (all products), `list` (item IDs only), `item` (single item), `flips` (top flips ranked by a composite score)"
        - name: id
          in: query
          schema:
            type: string
          description: Bazaar item ID (required when mode=item)
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Max results for mode=flips
        - name: minPrice
          in: query
          schema:
            type: integer
            default: 50000
          description: Minimum instant-sell price for mode=flips
        - name: tax
          in: query
          schema:
            type: number
            minimum: 0
            maximum: 0.1
            default: 0.01125
          description: Bazaar sell tax used in margin math for mode=flips
        - name: budget
          in: query
          schema:
            type: integer
            default: 5000000
          description: Reference coin budget used to probe order-book depth for mode=flips
      responses:
        "200":
          description: Bazaar data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: Invalid mode or missing id parameter
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /bazaar/trends:
    get:
      operationId: getBazaarTrends
      summary: Get bazaar trends
      description: Returns pre-computed trend signals for all bazaar items. Updated every 5 minutes.
      tags: [Bazaar]
      responses:
        "200":
          description: Trend data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      count:
                        type: integer
                      trends:
                        type: object
                      computed_at:
                        type: string
                        format: date-time
                        nullable: true
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /bazaar/history:
    get:
      operationId: getBazaarHistory
      summary: Get bazaar price history
      description: Returns historical price data for a bazaar item. Short ranges return 5-minute snapshots, longer ranges return hourly aggregates.
      tags: [Bazaar]
      parameters:
        - name: item_id
          in: query
          required: true
          schema:
            type: string
          description: Bazaar item ID (e.g. DIAMOND)
        - name: range
          in: query
          schema:
            type: string
            enum: [1h, 24h, 7d, 30d, 90d]
            default: 24h
          description: Time range for history
      responses:
        "200":
          description: Historical price data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      item_id:
                        type: string
                      range:
                        type: string
                      dataPoints:
                        type: integer
                      history:
                        type: array
                        items:
                          $ref: "#/components/schemas/HistoryPoint"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: Missing item_id or invalid range
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          description: Upstream timeout, no cached data available
  /auctions:
    get:
      operationId: getAuctions
      summary: Get active auctions
      description: Returns a page of active auctions from the Hypixel API.
      tags: [Auctions]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
          description: Page number (0-indexed)
      responses:
        "200":
          description: Auction listings
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      page:
                        type: integer
                      totalPages:
                        type: integer
                      totalAuctions:
                        type: integer
                      lastUpdated:
                        type: integer
                      auctions:
                        type: array
                        items:
                          $ref: "#/components/schemas/Auction"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /auctions/lowest-bins:
    get:
      operationId: getLowestBins
      summary: Get lowest BIN prices
      description: Returns the lowest Buy It Now price for every item currently listed on the auction house.
      tags: [Auctions]
      responses:
        "200":
          description: Lowest BIN prices
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      lowestBins:
                        type: object
                        additionalProperties:
                          type: integer
                        example:
                          Hyperion: 900000000
                          "Aspect of the Dragons": 15000000
                      lastUpdated:
                        type: integer
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /auctions/search:
    get:
      operationId: searchAuctions
      summary: Search the auction house
      description: Server-side search, filter, sort and pagination across the full auction house (in-memory index, refreshed ~every 60s).
      tags: [Auctions]
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: Search text (item name + reforge/attributes; color codes and symbols ignored)
        - name: category
          in: query
          schema:
            type: string
          description: Filter by category (e.g. weapon, armor, accessories)
        - name: tier
          in: query
          schema:
            type: string
          description: Filter by rarity (e.g. common, rare, epic, legendary, mythic)
        - name: auctionType
          in: query
          schema:
            type: string
            enum: [all, bin, auction]
            default: all
          description: Auction type filter
        - name: minPrice
          in: query
          schema:
            type: integer
            default: 0
          description: Minimum effective price (0 = no minimum)
        - name: maxPrice
          in: query
          schema:
            type: integer
            default: 0
          description: Maximum effective price (0 = no maximum)
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [time, price, name]
            default: time
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - name: page
          in: query
          schema:
            type: integer
            default: 0
          description: Page number (0-indexed)
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 60
      responses:
        "200":
          description: Matching auctions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      auctions:
                        type: array
                        items:
                          type: object
                      page:
                        type: integer
                      limit:
                        type: integer
                      totalAuctions:
                        type: integer
                      totalPages:
                        type: integer
                      totalLive:
                        type: integer
                      lastUpdated:
                        type: integer
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /auctions/overview:
    get:
      operationId: getAuctionsOverview
      summary: Auction house overview
      description: Global auction-house summary — recent and ending-soon auctions, average price, and available categories/tiers.
      tags: [Auctions]
      responses:
        "200":
          description: Auction overview
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      recent:
                        type: array
                        items:
                          type: object
                      endingSoon:
                        type: array
                        items:
                          type: object
                      avgPrice:
                        type: number
                      totalLive:
                        type: integer
                      binCount:
                        type: integer
                      categories:
                        type: array
                        items:
                          type: string
                      tiers:
                        type: array
                        items:
                          type: string
                      lastUpdated:
                        type: integer
                      lastRefresh:
                        type: integer
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /profile/{username}:
    get:
      operationId: getProfile
      summary: Get player profiles
      description: Returns all SkyBlock profiles for a Minecraft player.
      tags: [Profiles]
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-zA-Z0-9_]{1,16}$"
          description: Minecraft username
      responses:
        "200":
          description: Player profiles
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                      username:
                        type: string
                      profiles:
                        type: array
                        items:
                          $ref: "#/components/schemas/Profile"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: Invalid username format
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Player has API settings disabled (`API_SETTINGS_DISABLED`)
        "404":
          $ref: "#/components/responses/PlayerNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"
        "503":
          $ref: "#/components/responses/Timeout"
  /profile/{username}/networth:
    get:
      operationId: getNetworth
      summary: Get player net worth
      description: Returns a full net worth breakdown for a player's SkyBlock profile.
      tags: [Profiles]
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Minecraft username
        - name: profile_id
          in: query
          schema:
            type: string
          description: Specific profile ID. If omitted, uses the selected profile.
      responses:
        "200":
          description: Net worth breakdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                      username:
                        type: string
                      networth:
                        type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Player has API settings disabled (`API_SETTINGS_DISABLED`)
        "404":
          $ref: "#/components/responses/PlayerNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"
        "503":
          $ref: "#/components/responses/Timeout"
  /profile/{username}/items:
    get:
      operationId: getPlayerItems
      summary: Get player inventory
      description: Returns parsed inventory items for a player's SkyBlock profile.
      tags: [Profiles]
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Minecraft username
        - name: profile_id
          in: query
          schema:
            type: string
          description: Specific profile ID. If omitted, uses the selected profile.
      responses:
        "200":
          description: Player inventory items
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                      username:
                        type: string
                      items:
                        type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Player has API settings disabled (`API_SETTINGS_DISABLED`)
        "404":
          $ref: "#/components/responses/PlayerNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"
        "503":
          $ref: "#/components/responses/Timeout"
  /profile/{username}/museum:
    get:
      operationId: getPlayerMuseum
      summary: Get player museum
      description: Returns museum data for a player's SkyBlock profile.
      tags: [Profiles]
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Minecraft username
        - name: profile_id
          in: query
          schema:
            type: string
          description: Specific profile ID. If omitted, uses the selected profile.
      responses:
        "200":
          description: Museum data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                      username:
                        type: string
                      museum:
                        type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Player has API settings disabled (`API_SETTINGS_DISABLED`)
        "404":
          $ref: "#/components/responses/PlayerNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"
        "503":
          $ref: "#/components/responses/Timeout"
  /profile/{username}/garden:
    get:
      operationId: getPlayerGarden
      summary: Get player garden
      description: Returns garden data (crops, plots, composter, visitors) for a player's SkyBlock profile. `garden` is null when none exists.
      tags: [Profiles]
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Minecraft username
        - name: profile_id
          in: query
          schema:
            type: string
          description: Specific profile ID. If omitted, uses the selected profile.
      responses:
        "200":
          description: Garden data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      profileId:
                        type: string
                      garden:
                        type: object
                        nullable: true
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/PlayerNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Timeout"
  /profile/{username}/auctions:
    get:
      operationId: getPlayerAuctions
      summary: Get a player's own auctions
      description: Returns the player's own active auctions on a SkyBlock profile (their listings, not the global AH).
      tags: [Profiles]
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Minecraft username
        - name: profile_id
          in: query
          schema:
            type: string
          description: Specific profile ID. If omitted, uses the selected profile.
      responses:
        "200":
          description: The player's active auctions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      profileId:
                        type: string
                      auctions:
                        type: array
                        items:
                          type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/PlayerNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Timeout"
  /profile/{username}/bingo:
    get:
      operationId: getPlayerBingo
      summary: Get a player's bingo progress
      description: Returns a player's per-event bingo progress across every event they have participated in.
      tags: [Profiles]
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Minecraft username
      responses:
        "200":
          description: Per-event bingo progress
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                      events:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: integer
                            points:
                              type: integer
                            completed_goals:
                              type: array
                              items:
                                type: string
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/PlayerNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Timeout"
  /profile/resolve-usernames:
    get:
      operationId: resolveUsernames
      summary: Batch reverse UUID lookup
      description: Resolve up to 24 player UUIDs to their current usernames in one request.
      tags: [Profiles]
      parameters:
        - name: uuids
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated UUIDs (with or without dashes), max 24. Invalid entries are dropped.
      responses:
        "200":
          description: UUID to username map
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      names:
                        type: object
                        additionalProperties:
                          type: string
                          nullable: true
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: More than 24 UUIDs supplied (`BAD_REQUEST`)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "503":
          $ref: "#/components/responses/Timeout"
  /player/{username}:
    get:
      operationId: getPlayer
      summary: Get player stats
      description: Returns general Hypixel player stats including network level, karma, rank, achievement points, and login timestamps.
      tags: [Player]
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-zA-Z0-9_]{1,16}$"
          description: Minecraft username
      responses:
        "200":
          description: Player stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: "#/components/schemas/PlayerGeneralStats"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: Invalid username format
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/PlayerNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"
        "503":
          $ref: "#/components/responses/Timeout"
  /player/{username}/bedwars:
    get:
      operationId: getPlayerBedWars
      summary: Get BedWars stats
      description: Returns BedWars stats with computed ratios (KDR, FKDR, WLR, BBLR), win rates, prestige tier, and per-mode breakdowns.
      tags: [Player]
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Minecraft username
      responses:
        "200":
          description: BedWars stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                      username:
                        type: string
                      level:
                        type: integer
                        description: BedWars star level
                      prestige:
                        type: string
                        description: "Computed prestige tier: None, Stone, Iron, Gold, Diamond, Emerald"
                      coins:
                        type: integer
                      overall:
                        $ref: "#/components/schemas/BedWarsModeStats"
                      modes:
                        type: object
                        properties:
                          solo:
                            $ref: "#/components/schemas/BedWarsModeStats"
                          doubles:
                            $ref: "#/components/schemas/BedWarsModeStats"
                          threes:
                            $ref: "#/components/schemas/BedWarsModeStats"
                          fours:
                            $ref: "#/components/schemas/BedWarsModeStats"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/PlayerNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"
        "503":
          $ref: "#/components/responses/Timeout"
  /player/{username}/skywars:
    get:
      operationId: getPlayerSkyWars
      summary: Get SkyWars stats
      description: Returns SkyWars stats with computed ratios (KDR, WLR), win rates, prestige tier, and per-mode breakdowns.
      tags: [Player]
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Minecraft username
      responses:
        "200":
          description: SkyWars stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                      username:
                        type: string
                      level:
                        type: integer
                        description: SkyWars level (computed from XP)
                      prestige:
                        type: string
                        description: "Computed prestige tier: None, Stone, Iron, Gold, Rare, Epic, Legendary, Mythic"
                      coins:
                        type: integer
                      souls:
                        type: integer
                      overall:
                        $ref: "#/components/schemas/SkyWarsModeStats"
                      modes:
                        type: object
                        properties:
                          solo_normal:
                            $ref: "#/components/schemas/SkyWarsModeStats"
                          solo_insane:
                            $ref: "#/components/schemas/SkyWarsModeStats"
                          team_normal:
                            $ref: "#/components/schemas/SkyWarsModeStats"
                          team_insane:
                            $ref: "#/components/schemas/SkyWarsModeStats"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/PlayerNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"
        "503":
          $ref: "#/components/responses/Timeout"
  /player/{username}/stats:
    get:
      operationId: getPlayerAllStats
      summary: Get all player stats
      description: Returns all game stats in one response — general info, BedWars, and SkyWars combined with computed ratios, prestige tiers, and derived fields. Single Hypixel API call.
      tags: [Player]
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
          description: Minecraft username
      responses:
        "200":
          description: Combined player stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    description: General stats at top level + nested bedwars and skywars objects
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/PlayerNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"
        "503":
          $ref: "#/components/responses/Timeout"
  /items:
    get:
      operationId: getItems
      summary: Get all items
      description: Returns the complete catalog of Hypixel SkyBlock items.
      tags: [Game Data]
      responses:
        "200":
          description: Item catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/Item"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /collections:
    get:
      operationId: getCollections
      summary: Get all collections
      description: Returns all SkyBlock collections organized by category, with tier requirements and unlock rewards.
      tags: [Game Data]
      responses:
        "200":
          description: Collection data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      collections:
                        type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /mayor:
    get:
      operationId: getMayor
      summary: Get current mayor
      description: Returns the current SkyBlock mayor, their perks, and active election data.
      tags: [Game Data]
      parameters: []
      responses:
        "200":
          description: Mayor data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      mayor:
                        type: object
                        properties:
                          name:
                            type: string
                          key:
                            type: string
                          perks:
                            type: array
                            items:
                              $ref: "#/components/schemas/MayorPerk"
                      current:
                        type: object
                      election:
                        type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /mayor/history:
    get:
      operationId: getMayorHistory
      summary: Get mayor history
      description: Returns past mayors ordered by most recent first.
      tags: [Game Data]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 24
          description: Number of results
      responses:
        "200":
          description: Mayor history
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      history:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            key:
                              type: string
                            perks:
                              type: array
                              items:
                                $ref: "#/components/schemas/MayorPerk"
                            started_at:
                              type: string
                              format: date-time
                            ended_at:
                              type: string
                              format: date-time
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /fire-sales:
    get:
      operationId: getFireSales
      summary: Get active fire sales
      description: Returns currently active fire sales from the Hypixel API.
      tags: [Game Data]
      responses:
        "200":
          description: Active fire sales
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      sales:
                        type: array
                        items:
                          $ref: "#/components/schemas/FireSale"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /fire-sales/history:
    get:
      operationId: getFireSalesHistory
      summary: Get fire sale history
      description: Returns past fire sales from the database.
      tags: [Game Data]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: Number of results
      responses:
        "200":
          description: Fire sale history
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      history:
                        type: array
                        items:
                          type: object
                          properties:
                            item_id:
                              type: string
                            amount:
                              type: integer
                            price:
                              type: integer
                            recorded_at:
                              type: string
                              format: date-time
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /guild:
    get:
      operationId: getGuild
      summary: Look up a guild
      description: Look up a Hypixel guild by name or by a player's username. One of `name` or `player` is required.
      tags: [Game Data]
      parameters:
        - name: name
          in: query
          schema:
            type: string
          description: Guild name to search for
        - name: player
          in: query
          schema:
            type: string
          description: Minecraft username — returns their guild
      responses:
        "200":
          description: Guild data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      guild:
                        type: object
                        properties:
                          name:
                            type: string
                          tag:
                            type: string
                          created:
                            type: integer
                          members:
                            type: array
                            items:
                              $ref: "#/components/schemas/GuildMember"
                          exp:
                            type: integer
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: Neither name nor player provided
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/GuildNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          $ref: "#/components/responses/UpstreamError"
  /recipes:
    get:
      operationId: getRecipes
      summary: Get crafting recipes
      description: Returns crafting recipes for SkyBlock items, sourced from the NEU repository.
      tags: [Game Data]
      responses:
        "200":
          description: Recipe data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /money-methods:
    get:
      operationId: getMoneyMethods
      summary: Get money-making methods
      description: Curated SkyBlock money-making methods with coins/hour, recomputed live from current bazaar prices where applicable.
      tags: [Game Data]
      responses:
        "200":
          description: Money methods with live coins/hour
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      methods:
                        type: array
                        items:
                          type: object
                      updatedAt:
                        type: integer
                      live:
                        type: boolean
                      liveCount:
                        type: integer
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /bingo:
    get:
      operationId: getActiveBingo
      summary: Get the active bingo event
      description: Returns the current bingo event definition — goals, modifier and start/end times.
      tags: [Bingo]
      responses:
        "200":
          description: Active bingo event
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      start:
                        type: integer
                      end:
                        type: integer
                      modifier:
                        type: string
                      goals:
                        type: array
                        items:
                          type: object
                      lastUpdated:
                        type: integer
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /leaderboard/rankings:
    get:
      operationId: getLeaderboardRankings
      summary: Get player leaderboard
      description: Ranked player leaderboard for a single category and game mode.
      tags: [Leaderboards]
      parameters:
        - name: category
          in: query
          schema:
            type: string
            default: skill_average
          description: Leaderboard category (see /leaderboard/categories)
        - name: game_mode
          in: query
          schema:
            type: string
            enum: [normal, ironman, stranded, bingo]
            default: normal
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number (1-indexed)
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: Ranked players
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      category:
                        type: string
                      game_mode:
                        type: string
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      total_pages:
                        type: integer
                      players:
                        type: array
                        items:
                          type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: Invalid category or game_mode
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /leaderboard/guilds:
    get:
      operationId: getLeaderboardGuilds
      summary: Get guild leaderboard
      description: Ranked guild leaderboard.
      tags: [Leaderboards]
      parameters:
        - name: sort
          in: query
          schema:
            type: string
            enum: [exp, level, weekly_xp, members]
            default: exp
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: Ranked guilds
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      sort:
                        type: string
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      total_pages:
                        type: integer
                      guilds:
                        type: array
                        items:
                          type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: Invalid sort value
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /leaderboard/player/{uuid}:
    get:
      operationId: getLeaderboardPlayer
      summary: Get a single player's leaderboard stats
      description: Returns an indexed player's stats and rankings, one entry per profile.
      tags: [Leaderboards]
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
            pattern: "^[a-fA-F0-9]{32}$"
          description: Player's Minecraft UUID (32 hex chars, dashless)
      responses:
        "200":
          description: Player leaderboard stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      profiles:
                        type: array
                        items:
                          type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: Invalid UUID format
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Player is not indexed
        "429":
          $ref: "#/components/responses/RateLimited"
  /leaderboard/search:
    get:
      operationId: searchLeaderboardPlayers
      summary: Search indexed players
      description: Search the player index by username prefix (min 2 characters).
      tags: [Leaderboards]
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
          description: Username prefix
      responses:
        "200":
          description: Matching players
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      players:
                        type: array
                        items:
                          type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          description: Query shorter than 2 characters
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /leaderboard/stats:
    get:
      operationId: getLeaderboardStats
      summary: Leaderboard index statistics
      description: Index-wide statistics plus available categories and guild sort options.
      tags: [Leaderboards]
      responses:
        "200":
          description: Index statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
  /leaderboard/categories:
    get:
      operationId: getLeaderboardCategories
      summary: Available leaderboard categories
      description: Every available leaderboard category, grouped by type. Use these keys as the `category` parameter for /leaderboard/rankings.
      tags: [Leaderboards]
      responses:
        "200":
          description: Categories grouped by type
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
